Impression_PDF/web_livret_apprentissage_1/SchemaXML/Etudiant.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="etudiants">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="etudiant">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="num_etudiant" type="xs:unsignedByte" />
              <xs:element name="nom_etudiant" type="xs:string" />
              <xs:element name="prenom_etudiant" type="xs:string" />
              <xs:element name="num_tuteur" type="xs:unsignedByte" />
              <xs:element name="annee_etudiant" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>