Impression_PDF/web_livret_apprentissage_1/SchemaXML/Matiere.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="matieres">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="matiere">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="num_mat" type="xs:unsignedByte" />
              <xs:element name="designation_mat" type="xs:string" />
              <xs:element name="num_prof" type="xs:string" />
              <xs:element name="intitule_mat" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>